
html {
	font-family: Helvetica, sans-serif;
}

/*Logo & Navigation Section*/

nav {
	text-align: center;
	background-image: url(../images/the-flatiron-building.png);
	background-size: cover;
}

nav h1 {
   font-size: 70px;
   font-weight: bold;
   color: white;
}

nav a {
	font-size: 18px;
	color: white;
}

/*Process Section*/

.process {
	text-align: center;
}

.process p {
	font-size: 14px;
}

.process h2 {
	font-size: 32px;
	font-weight: bold;
}

.process h3 {
	font-size: 23px;
	font-weight: bold;
}

/*About Section*/

.about {
	text-align: center;

}

.about p {
	font-size: 14px;
}

.about h2 {
	background-image: url(../images/the-flatiron-building.png);
	color: white;
	font-size: 23px;
	font-weight: bold;
}

.about h3 {
	font-size: 23px;
	font-weight: bold;
}

.footer {
	background-color: dimgray;

}

.footer p {
	font-size: 11px;
	color: white;

}

.footer a {
	font-size: 18px;
	color: white;
}